<div class="testinggg">
    {% if page.include_bio == true %}
        {% include _author-bio.html %}

        <hr>

        <h3 style="text-align: center;">Projects</h3>

    {% endif %}

    <div class="side-panel-element">
        <a href="{{ site.url }}/projects/psim/"><img style="display: block; margin-left: auto; margin-right: auto;" src="{{ site.url }}/images/psim/psim_logo.png" style="border: none;" width="100"></a>
    </div>
    <div class="side-panel-element-text">
        <a href="{{ site.url }}/projects/psim/">
            psim
        </a>
    </div>

</div>
